In [106]:
# import dependencies

from bs4 import BeautifulSoup
import requests
import pandas as pd

In [103]:
books = [] # create empty books list

for i in range(1, 51):
     
     # set url of website to be scraped
     SCRAPE_URL = f'https://books.toscrape.com/catalogue/page-{i}.html'
     
     # send GET request to specified url
     response = requests.get(SCRAPE_URL)
     soup = BeautifulSoup(response.content, 'html.parser')
     soup = BeautifulSoup(soup.prettify(), 'html.parser')
     
     
     articles = soup.find_all('article', class_ = 'product_pod')

     # fetch data of interest; store data in the books list initialized earlier
     for article in articles:
          title = article.find('h3').find('a').attrs['title']
          rating = article.find('p')['class'][1]
          price = float(article.find('p', class_ = 'price_color').text.strip()[1:])
          
          books.append([title, price, rating]) # populate books list

In [ ]:
# checkout books list to confirm data retrieval successfully 
books

In [108]:
# create pandas Dataframe; populate with books list
df = pd.DataFrame(books, columns=['Book Title', 'Price', 'Star Rating'])

df

                                            Book Title  Price Star Rating
0                                 A Light in the Attic  51.77       Three
1                                   Tipping the Velvet  53.74         One
2                                           Soumission  50.10         One
3                                        Sharp Objects  47.82        Four
4                Sapiens: A Brief History of Humankind  54.23        Five
..                                                 ...    ...         ...
995  Alice in Wonderland (Alice's Adventures in Won...  55.53         One
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  57.06        Four
997  A Spy's Devotion (The Regency Spies of London #1)  16.97        Five
998                1st to Die (Women's Murder Club #1)  53.98         One
999                 1,000 Places to See Before You Die  26.08        Five

[1000 rows x 3 columns]

In [ ]:
# export dataframe to csv
df.to_csv('BookStore.csv')